//
//  Secrets.xcconfig
//  TestOpenRouter
//
//  Created by Kehong-IOS-Dev01 on 2026/3/16.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPENROUTER_API_KEY = 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
